{% extends 'base.html.twig' %}

{% block title %}Profile of {{ user.fullName }}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/assets/css/profile.css">{% endblock %}

{% block body %}

    <div class="row justify-content-around">
        <div class="col-md-2 breakNone">
            <a href="{{ path("relation") }}" class="fas fa-arrow-circle-left fa-3x mb-0"></a>
        </div>
        <div class="col-md-4 py-2">
            <h2 class="text-center">Card</h2>
        </div>
        <div class="col-md-2 breakNone"></div>
    </div>
    <div class="container">
        <div class="card">
            <div class="box">
                <div class="img">
                    <img class="profilePicture"
                            {% if user.picture matches '{^(https)://}' %}
                                src="{{ user.picture ?? null }}"
                            {% else %}
                                src="/uploads/{{ user.picture ?? null }}"
                            {% endif %}
                         alt="profile picture">
                </div>
                <h1>{{ user.givenName }} {{ user.familyName }}</h1>
                <p>{{ user.biography|raw }}</p>
                <div class="row">
                {% if user.webLink is not empty %}
                    <div class="col">
                        <a href="{{ user.webLink }}"><button class="btn btn-info">More</button></a>
                    </div>
                {% endif %}
                {% if user in app.user.relations%}
                    <div class="col">
                        <td>
                            <button class="btn btn-success">Already connected</button>
                        </td>
                    </div>
                {% elseif repo.findOneByUserRelation(app.user.id, user.id) or repo.findOneByUserRelation(user.id, app.user.id) %}
                    <div class="col">
                        <td>
                            <button class="btn btn-secondary">Invitation sent</button>
                        </td>
                    </div>
                    <div class="col">
                        <td>
                            <a href="{{ path('delete_invitation', {'id': user.id}) }}">
                                <button class="btn btn-danger">X</button>
                            </a>
                        </td>
                    </div>
                {% else %}
                    <div class="col">
                        <td class="addRelation">
                            <a href="{{ path('relation_message', {'id': user.id}) }}"><button class="btn btn-primary">Add to my relation</button></a>
                        </td>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>



{% endblock %}
