{% extends 'base.html.twig' %}

{% block title %}Your Events !{% endblock %}

{% block body %}
    <style>
        .eventCard {
            border-radius: 25px;
            max-width: 20rem;
            height: 20rem;
        }

        .eventCard:hover{
            filter: brightness(0.85);
            cursor: pointer;
        }

        .explain {
            border-radius: 25px;
        }
    </style>

    <div class="container pt-2">
        <a href="{{ path("event") }}" class="fas fa-arrow-circle-left float-left fa-3x mb-0 d-none d-md-block"></a>
        <h2 class="text-center my-5">Manage your events</h2>
        <div class="row justify-content-center py-4 my-3 bg-secondary mx-1 explain">
            <div class="col-md-6">
                <p class="font-weight-bold">Click on your event to see details, attenders and of course to give your <span class="h4 font-weight-bold">answer !</span></p>
            </div>
            <div class="col-md-6">
                <p class="font-weight-bold"><span class="text-primary">Blue</span> events are waiting for attenders to answer,</p>
                <p class="font-weight-bold"><span class="text-success">Green</span> events are ready to be launched !</p>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            {% for event in events %}
                {% set releaseTheKraken = true %}
                {% for key, participant in event.participation %}
                    {% if participant == 1 %}{% set releaseTheKraken = false %}{% endif %}
                {% endfor %}
                <div class="col-md-3 mx-auto">
                        <div onclick='window.location.href="{{ path('event_show', {'id': event.id}) }}"' class="card text-white bg-{% if releaseTheKraken %}success{% else %}primary{% endif %} mb-3 mx-auto eventCard">
                            <div class="card-header">{{ event.summary }}</div>
                            <div class="card-body">
                                <h4 class="card-title">@ {{ event.location }}</h4>
                                <p class="card-text">{{ event.startTime|date("d/m/Y \\a\\t G:i") }}</p>
                                <p class="card-text">{{ event.startTime|date("d/m/Y \\a\\t G:i") }}</p>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ path("event") }}" class="fas fa-arrow-circle-left d-block mx-auto text-center w-25 fa-3x d-md-none"></a>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.eventCard').click(function () {
            $(this).addClass('animated bounceOut');
        })
    </script>
{% endblock %}