{% extends 'base.html.twig' %}

{% block title %}Your Events{% endblock %}

{% block body %}
    <style>
        .events {
            height: 70vh;
        }

        .widgets {
            border-radius: 25px;
            height: 75%;
        }

        .widgets:hover {
            background-color: white;
            border-width: 6px;
            cursor: pointer;
        }

        .created {
            border: 3px solid #43ac6a;
            background-color: rgba(67, 172, 106, 0.5);
        }

        .invited {
            border: 3px solid #008cba;
            background-color: rgba(0, 140, 186, 0.5);
        }

        .widgets h3 {
            color: black;
            margin-bottom: 0;
        }

        .eventCount {
            align-self: end;
            font-family: 'Permanent Marker', cursive;
            font-weight: bold;
        }

        @media (max-width: 992px) {
            .events {
                height: auto;
            }

            .widgets {
                height: 40vh;
            }

            .fz05 {
                font-size: 0.5rem;
            }
        }
    </style>
    <div class="container events my-0">
        <div class="row justify-content-around">
            <div class="col-md-2 breakNone">
                <a href="{{ path("dashboard") }}" class="fas fa-arrow-circle-left fa-3x mb-0"></a>
            </div>
            <div class="col-md-4 py-2">
                <h2 class="text-center">Manage your events</h2>
            </div>
            <div class="col-md-2 breakNone"></div>
        </div>
        <div class="row justify-content-center align-items-center h-100 pb-3">
            <div class="col-sm-6 h-75">
                <div onclick='window.location.href="{{ path('event_attending') }}"'  class="d-flex justify-content-around flex-column widgets invited my-3">
                    <h3 class="text-center">Events you're invited to</h3>
                    <div class="text-center fz05"><i class="fas fa-users fa-10x"></i></div>
                    <div class="d-flex justify-content-around">
                        <div class="d-flex justify-content-around fz05"><i class="fas fa-calendar-times fa-5x text-success"></i><p class="h2 eventCount pl-2">{{ green }}</p></div>
                        <div class="d-flex justify-content-around fz05"><i class="fas fa-calendar-alt fa-5x text-primary"></i><p class="h2 eventCount pl-2">{{ blue }}</p></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 h-75">
                <div onclick='window.location.href="{{ path('event_created') }}"' class="d-flex justify-content-around flex-column widgets created my-3">
                    <h3 class="text-center">Events you've created</h3>
                    <div class="text-center fz05"><i class="fas fa-users-cog fa-10x"></i></div>
                    <div class="d-flex justify-content-around">
                        <div class="d-flex justify-content-around fz05"><i class="fas fa-calendar-times fa-5x text-success"></i><p class="h2 eventCount pl-2">{{ cGreen }}</p></div>
                        <div class="d-flex justify-content-around fz05"><i class="fas fa-calendar-alt fa-5x text-primary"></i><p class="h2 eventCount pl-2">{{ cBlue }}</p></div>
                    </div>
                </div>
            </div>
            <a href="{{ path('widget_match') }}"><button class="btn btn-info">Create an event</button></a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('.widgets').click(function () {
            let wid = $(this);
            $(this).children().toggleClass('animated bounceOut');
            wid.parent().siblings().toggleClass('animated bounceOutDown');
            setTimeout(function () {
                wid.parent().siblings().remove();
                wid.children().remove();
                wid.append('<div class="row justify-content-center align-items-center h-100"><div class="col text-center"><i class="fas fa-spinner fa-pulse fa-10x"></i></div></div>');
            }, 1000)
        })
    </script>

{% endblock %}