{% extends 'base.html.twig' %}

{% block title %}Your Events !{% endblock %}

{% block body %}
    <style>
        .eventBoard, .eventAttenders {
            width: 95%;
            border-radius: 25px;
        }

        .eventBoard {
            word-wrap: break-word;
        }

        .eventAttenders {
            height: 15vh;
            overflow: scroll;
        }

        #unlock:hover {
            cursor: pointer;
        }

        @media (max-width: 993px) {
            .eventAttenders {
                height: 35vh;
            }
        }


    </style>

    <div class="container px-0">
    <a href="{{ path("event") }}" class="fas fa-arrow-circle-left float-left fa-3x mb-0 d-none d-md-block"></a>
    <h2 class="text-center my-5">Manage your event</h2>
    <div class="bg-primary px-3 py-3 mx-auto eventBoard">
        <p class="h3 font-weight-bold">{{ event.summary }}</p>
        <p class="h5">@ {{ event.location }}</p>
        <p class="my-3">{{ event.description }}</p>
        <p class="my-2"><strong>Start : </strong>{{ event.startTime|date('D d M Y \\a\\t h:i A') }}</p>
        <div class="row">
            <div class="col">
                <p class="my-2"><strong>End : </strong>{{ event.endTime|date('D d M Y \\a\\t h:i A') }}</p>
            </div>
                {% if app.user.id == creator.id and state == 1 %}
                <div class="col offset-6">
                    <a href="{{ path('event_delete', {'id' : event.id}) }}">
                        <button class="btn btn-danger">Cancel the event</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="bg-secondary my-3 px-3 py-3 mx-auto eventAttenders">
        <p class="h4 my-2 font-weight-bold">Attenders :</p>
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-4 col-md-3 my-3">
                <div class="row justify-content-center align-items-center">
                    <div class="col text-center">
                        <p class="badge badge-pill badge-success py-2 px2 mb-0">{{ event.creator.fullname }}</p></div>
                </div>
            </div>
            {% for key, participant in event.participation %}
                <div class="col-sm-4 col-md-3 my-3">
                    <div class="row justify-content-center align-items-center">
                        <div class="col text-center">
                        <input type="hidden" id="appUser" value="{{ app.user.id }}">
                            <p id="attender{{ key }}" class="badge badge-pill badge-{% if participant == 0 %}danger{% elseif participant == 1 %}primary{% else %}success{% endif %} py-2 px2 mb-0">{{ repo.find(key).fullname }}</p></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if event.creator.id == app.user.id %}
        <div class="text-center mx-1 py-5">
            {% set releaseTheKraken = true %}
            {% for key, participant in event.participation %}
                {% if participant == 1 %}{% set releaseTheKraken = false %}{% endif %}
            {% endfor %}
            {% if releaseTheKraken %}
                <p>All the participants have answered, if you hit the launch button, the event will be scheduled on the calendar of all attenders that have accepted the invitation.</p>
                <a href="{{ path('match_event_launch', {'event': event.id}) }}"><button id="launchButton" class="btn btn-lg btn-danger w-75">Launch the event !</button></a>
            {% else %}
                <p>Once all participants have answered, you will be able to launch the event</p>
                <p>If you want to launch the event anyway, you can unlock the launch button and the event will be scheduled for all participants except those who declined the invitation</p>
                <i id="unlock" class="fas fa-4x fa-lock text-warning my-2 mx-auto"></i> <br>
                <a href="{{ path('match_event_launch', {'event': event.id}) }}"><button id="launchButton" class="btn btn-lg btn-danger w-75 d-none animated bounceOutUp my-2">Launch the event !</button></a>
            {% endif %}
        </div>
        <a href="{{ path("event") }}" class="fas fa-arrow-circle-left d-block mx-auto text-center w-25 fa-3x d-md-none"></a>
    {% else %}
        {% if event.participation[app.user.id] == 1 %}
        <div id="waiting">
            <h3 class="text-center">{{ event.creator.fullname }} is waiting for your answer :</h3>
            <div class="row justify-content-around my-4">
                <div class="col-md-3">
                    <a class="decline" href="{{ path('event_decline', {'id': event.id}) }}"><button class="btn btn-lg btn-danger w-100">Decline</button></a>
                </div>
                <div class="col-md-6">
                    <a class="accept" href="{{ path('event_accept', {'id': event.id}) }}"><button class="btn btn-lg btn-success w-100">Yes, I'll be there !</button></a>
                </div>
            </div>
        </div>
        {% elseif event.participation[app.user.id] == 2%}
        <div class="row justify-content-around my-4">
            <div class="col-md-6">
                <button class="btn btn-lg btn-success w-100">You've accepted the invitation</button>
            </div>
        </div>
            {% else %}
        <div class="row justify-content-around my-4">
            <div class="col-md-6">
                <button class="btn btn-lg btn-danger w-100">You've declined the invitation</button>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/launchEvent.js"></script>
{% endblock %}