{% extends 'base.html.twig' %}

{% block title %}Delete your account{% endblock %}

{% block body %}
    <div class="container">
            <h2 class="text-center pb-5" style="margin-top: 30vh;">Are you sure that you want to delete your account ?</h2>
        <div class="row justify-content-center">
            <div class="col-md-3 text-center">
                {{ form(form) }}
            </div>
            <div class="col-md-3 text-center" style="margin-bottom: 30vh;">
                <a href="{{ path('settings') }}"><button class="btn btn-primary w-100">Cancel</button></a>
            </div>
        </div>
    </div>
{% endblock %}