{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="assets/css/formCss.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">


{% endblock %}

{% block body %}

    <div class="container" style="height: 90vh;">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col">
                <div class="login text-center">
                    <h1>TimePool</h1>
                    <h6>Partagez vos disponibilités</h6>
                    <br>
                    <br>
                    <a id="googleBtn" onclick=window.location.href='{{ path('connect_google') }}'>
                        <img class="mb-5" src="/assets/images/btn_google.png"/>
                    </a>
                    <a href="{{ path('footer_about') }}"><h5>Qu'est ce que TimePool?</h5></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
