{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/selectCalendarStyle.css') }}">
{% endblock %}

{% block body %}
<div id="sheet" class="container shadow-lg p-3 mb-5 bg-white rounded">
    <div class="example-wrapper pl-5 pr-5">
        <h2>Select the calendar that TimePool should use.</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path("dashboard") }}">
            <button type="submit" class="btn btn-primary">Let's go !</button>
        </a>
        {{ form_end(form) }}

    </div>
</div>
    {% endblock %}
