{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/selectCalendarStyle.css') }}">
{% endblock %}

{% block title %}TimePool{% endblock %}

{% block body %}
    <div id="sheet" class="container shadow-lg pt-3 pb-5 mb-5 bg-white rounded">
        <div class="example-wrapper noCalendar pl-5 pr-5">
            <h2>You don't have a Google calendar yet!</h2>
            <a href="http://calendar.google.com"><button class="btn btn-primary btnCalendar">Create a calendar now</button></a>
            <a href="{{ path('settings') }}"><button class="btn btn-primary btnCalendar">Create a calendar later</button></a>
        </div>
    </div>
{% endblock %}