{% extends 'base.html.twig' %}

{% block title %}Welcome on TimePool!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/showCalendar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/calendar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/widgetCalendar.css') }}">
{% endblock %}

{% block body %}
    <h2 class="d-flex justify-content-center mt-5">Welcome on TimePool! Here are your availability ranges.</h2>

    {% include 'partials/weekCalendar.html.twig' %}

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <p>In order to change them, simply add or delete an event on your Google calendar.<br/>
            With TimePool, you can:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center mb-5">
            <ul>
                <li>Share your calendar</li>
                <li>Integrate your calendar in your website</li>
                <li>Find a match for a meeting</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6 d-flex justify-content-center mb-5">
            <a href="{{ path("select_calendar") }}" type="submit" class="btn btn-primary" id="buttonShowCalendar">Back</a>
        </div>
        <div class="col-6 d-flex justify-content-center mb-5">
            <a href="{{ path("dashboard") }}" type="submit" class="btn btn-primary">Start using TimePool</a>
        </div>
    </div>

{% endblock %}
