{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/sharedCalendar.css">
{% endblock %}

<div class="container-fluid mx-auto my-4">
    <div class="row justify-content-around align-items-center">
        <div class="col-md-3">
            <h3 class="monthTitle text-center">{{ week.toString }}</h3>
        </div>
        <div class="col-md-3">
            <p class="text-center"><strong>Monday {{ week.showDate | date("d/m/Y")}} - Sunday {{ week.showDateEnd | date("d/m/Y") }}</strong></p>
        </div>
    </div>

    <div class="container-fluid" style="width: 95%; padding: 0;">
        <div class="row justify-content-center mx-auto w-100">
            <div class="coloTop"></div>
            {% for i in 0..6 %}
                <div class="col px-0 py-0 text-center pb-2 breakNone">{{ week.showDate|date_modify("+"~i~" day")|date("l d") }}</div>
                <div class="col px-0 py-0 text-center pb-2 d-md-none">{{ week.showDate|date_modify("+"~i~" day")|date("D") }}
                    <br>{{ week.showDate|date_modify("+"~i~" day")|date("d") }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid calMonGars px-0 mb-3">
        <div class="row justify-content-center mx-auto w-100">
            <div class="colo">
                {% for i in 1..12 %}
                    <div class="dispHeure text-right"><p class="mr-3">{{ i }}<span> AM</span></p></div>
                {% endfor %}
                {% for i in 1..11 %}
                    <div class="dispHeure text-right"><p class="mr-3"><span class="breakBold">{{ i }}</span><span> PM</span></p></div>
                {% endfor %}
            </div>
            {% for i in 0..6 %}
                {% set DT = week.showDate |date_modify("+"~ i ~" day") %}
                <div class="col px-0 py-0">
                    {% for i in week.showDate|date("H")..week.showDate|date_modify("+ 23 hour")|date("H") %}
                        {% set HT = week.showDate|date_modify("+ " ~ i ~ " hour") %}
                        {% if event[DT|date("Y-m-d") ~ " " ~ HT|date("H:i:s")] is not defined
                            and event[DT|date("Y-m-d") ~ " " ~ HT|date_modify("+ 15 minutes")|date("H:i:s")] is not defined
                            and event[DT|date("Y-m-d") ~ " " ~ HT|date_modify("+ 30 minutes")|date("H:i:s")] is not defined
                            and event[DT|date("Y-m-d") ~ " " ~ HT|date_modify("+ 45 minutes")|date("H:i:s")] is not defined
                        %}
                            <div class="heureDispo d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#myModal">
                                <div class="d-none">{{ DT|date("Y-m-d") }}</div>
                                <i class="fas fa-plus-circle d-none"></i>
                                <p class="d-none mb-0 breakNone"><span class="start">{{ i }}</span>:00 to <span class="end">{{ i + 1 }}</span>:00</p>
                            </div>
                        {% else %}
                            <div class="heure">
                                <div class="quartDHeure 00{% if event[DT|date("Y-m-d") ~ " " ~ HT|date("H:i:s")] is defined  %} busy{% endif %}"></div>
                                <div class="quartDHeure 15{% if event[DT|date("Y-m-d") ~ " " ~ HT|date_modify("+ 15 minutes")|date("H:i:s")] is defined  %} busy{% endif %}"></div>
                                <div class="quartDHeure 30{% if event[DT|date("Y-m-d") ~ " " ~ HT|date_modify("+ 30 minutes")|date("H:i:s")] is defined  %} busy{% endif %}"></div>
                                <div class="quartDHeure 45{% if event[DT|date("Y-m-d") ~ " " ~ HT|date_modify("+ 45 minutes")|date("H:i:s")] is defined  %} busy{% endif %}"></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>