{% extends 'base.html.twig' %}

{% block title %}Widget Match{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/widget.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/widgetCalendar.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <style>
        .matchRow {
            height: 50vh;
        }

        .rowo {
            overflow: scroll;
            height: 80%;
        }

        .profilePicture {
            width: 64px;
            height: 64px;
        }
        .matchRow i {
            color: green;
        }
        .matchRow i:hover {
            cursor: pointer;
        }

        .matchCol {
            border-radius: 15px;
        }
    </style>

    <div class="row justify-content-around">
        <div class="col-md-2 breakNone">
            <a href="{{ path("dashboard") }}" class="fas fa-arrow-circle-left fa-3x mb-0"></a>
        </div>
        <div class="col-md-4 py-2">
            <h2 class="text-center">Please select the attenders for the meeting</h2>
        </div>
        <div class="col-md-2 breakNone"></div>
    </div>

    <div class="container mb-5">
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
        <div class="loading row justify-content-center align-items-center d-none" style="height: 30vh; width: 100%;">
            <div class="col-4 mb-0"><i class="fas fa-spinner fa-pulse fa-5x my-0 mx-auto"></i></div>
        </div>
        {{ form_start(form) }}
        <div class="row justify-content-around matchRow">
            <div class="col-12 col-md-4 bg-secondary matchCol h-100 text-center goOut animated bounceInLeft">
                <h3 class="text-center mt-3">Select relations</h3>
                <hr>
                <input class="form-control" type="text" onkeyup="liveSearch(this.value)" id="live" name="live" placeholder="Search...">
                <hr>
                <div id="notAddedRow" class="rowo">
                    {% for key, relation in app.user.relations %}
                        <div id="div{{ relation.id }}" class="row justify-content-center my-3 align-items-center w-100">
                            <div class="col-3 mx-0 px-0">
                                <img class="profilePicture rounded-circle"
                                        {% if relation.picture matches '{^(https)://}' %}
                                            src="{{ relation.picture ?? null }}"
                                        {% else %}
                                            src="/uploads/{{ relation.picture ?? null }}"
                                        {% endif %}
                                     alt="profile picture">
                            </div>
                            <div class="col-6 mx-0 px-0">
                                <p id="fullname{{ key }}" class="mb-0 text-left fullname">{{ relation.fullname }}</p>
                            </div>
                            <div class="col-1 mx-0 px-0">
                                <i id="{{ relation.id }}" class="fas fa-plus-square fa-2x plus"></i>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-4 bg-secondary getOut matchCol h-100 text-center animated bounceInRight">
                <h3 class="text-center mt-3">Ready to match !</h3>
                <hr>
                <div id="addedRow" class="rowo"></div>
            </div>
        </div>
        <div class="row justify-content-around mt-3">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center align-items-center">{{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}

    <script>

        let counter = $('.fullname').length;

        function liveSearch(query) {
            if (query.length <= 0) {
                $('.fullname').parent().parent().show();
            } else {
                $('.fullname').parent().parent().hide();
            }
            for (let i = 0; i<counter; i++) {
                let concatFullname = '';
                for (let h = 0; h<query.length; h++) {
                    concatFullname +=  $('#fullname'+i).text()[h];
                    if (query.toLowerCase().trim() == concatFullname.toLowerCase().trim())  {
                        $('#fullname'+i).parent().parent().show();
                    }
                }
            }
        }
    </script>


    <script src="/assets/js/matchIndex.js" type="text/javascript"></script>
{% endblock %}