{% extends 'base.html.twig' %}

{% block title %}Display Match{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/calendar.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="row justify-content-around">
        <div class="col-md-2 breakNone">
            <a href="{{ path("widget_match") }}" class="fas fa-arrow-circle-left fa-3x mb-0"></a>
        </div>
        <div class="col-md-4 py-2">
            <h2 class="text-center">Calendar</h2>
        </div>
        <div class="col-md-2 breakNone"></div>
    </div>

    {% include 'partials/weekCalendar.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script src="/assets/js/selectEvents.js" type="text/javascript"></script>
{% endblock %}