{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/settings.css') }}">{% endblock %}

{% block body %}

    <div class="row justify-content-around">
        <div class="col-md-2 breakNone">
            <a href="{{ path("dashboard") }}" class="fas fa-arrow-circle-left fa-3x mb-0"></a>
        </div>
        <div class="col-md-4 py-2">
            <h2 class="text-center">Settings</h2>
        </div>
        <div class="col-md-2 breakNone"></div>
    </div>

    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-md-6">
                {{ form_start(settingsForm) }}
                <div class="form-group">
                    <label for="mail" class="required">Email</label>
                    <input type="text" id="mail" class="form-control" disabled value={{ app.user.email }}>
                </div>
                {{ form_row(settingsForm.familyName) }}
                {{ form_row(settingsForm.givenName) }}
                {{ form_row(settingsForm.biography) }}
                {{ form_row(settingsForm.webLink) }}
                {{ form_row(settingsForm.picture) }}
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                <button type="submit" name="settingsInfos" value="submit" class="btn btn-primary">Save changes</button>
                </div>
                {{ form_end(settingsForm) }}
            </div>
            <div class="col-md-4 row flex-column flex-nowrap mb-5">
                <div class="col-md-9 mt-3 text-center mx-auto">
                    <img class="rounded-circle" style="width: 200px;height: 200px;"
                    {% if app.user.picture matches '{^(https)://}' %}
                        src="{{ app.user.picture ?? null }}"
                    {% else %}
                        src="/uploads/{{ app.user.picture ?? null }}"
                    {% endif %} alt="profil">
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <h2 class="text-center mb-5">Set your calendar preferencies :</h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                {{ form_start(calendarsForm) }}
                {{ form_row(calendarsForm.selectedCalendar) }}
                {{ form_row(calendarsForm.addEventCalendar) }}
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            {{ form_end(calendarsForm) }}
        </div>
        <br>
        <hr>
        <br>
        <div class="mb-5 text-center">
            <a href="{{ path('deleteAccount') }}" class="text-danger fas fa-trash-alt"> <span>Delete your account</span></a>
            <a href="#hdp" class="fas fa-arrow-circle-left fa-3x fa-rotate-90 float-right"></a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/settings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/browser.js') }}"></script>
{% endblock %}