#welcome {
    font-size: 300%;
    color: white;
    text-align: center;
}

#welcome:hover {
    text-decoration: none;
}

.profilePicture {
    width: 64px;
    height: 64px;
}

.profilePicture:hover {
    opacity: 0.65;
}


