.busy {
    background-color: skyblue;
}

.calMonGars {
     width: 95%;
 }

.calMonGars .col {
    height: 100vh;
    border : 1px solid black;
}

.heure {
    height: 4.166666%;
}

.dispHeure {
    height: 4.166666%;
}

.dispHeure p {
    transform: translateY(2.8vh);
}

.quartDHeure {
    height: 25%;
}

.heureDispo {
    height: 4.166666%;
    border: 1px solid lightgray;
}

.heureDispo:hover {
    background-color: #88d8ac;
    box-shadow: 0px 0px 2px 2px #2d8742 inset;
    cursor: pointer;
}

.heureDispo i {
    color: #179e6a;
    margin: 0;
}

.calMonGars .colo {
    width: 4%;
    height: 100vh;
}

.coloTop {
    width: 4%;
}

@media (max-width: 993px){
    .dispHeure p span:not(.breakBold) {
        display: none;
    }

    .calMonGars .colo, .coloTop {
        width: 8%;
    }

    .breakBold {
        font-weight: bold;
    }

    .dispHeure p {
        transform: translateY(2vh);
    }
}