html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 10vh;
    min-height: 100%;
}

.desknavbar
{
    background: -webkit-linear-gradient( #088bb8,white);
    margin-top: 0;
    padding-top: 0;
}

.mobNavbar {
    background-color: #088BB8;
}

.tpNav-link {
    background-color: #088BB8;
    font-size: 1.25rem;
}

.welcomeUser {
    color: white;
    font-size: 1.7rem;
}

.tpNav-link a {
    color: white;
}

#welcome {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 350%;
    font-weight: bold;
}

#welcome2 {
    font-size: 300%;
    color: white;
}

a:hover {
    text-decoration: none;
}

h2, h3
{
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    color: #088BB8;
}

.foot {
    position: absolute;
    height: 10vh;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

/* Pulse des fleches */
@-webkit-keyframes fa-3x {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes fa-3x {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
.fa-3x {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.fa-3x:hover, .fa-3x:focus, .fa-3x:active {
    -webkit-animation-name: fa-3x;
    animation-name: fa-3x;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.btn
{
    border-radius: 20px;
    width: 150px;
}

@media (max-width: 992px)
{
    body
    {
        background: white;
    }
    
    #welcome {
        display: block;
        text-align: center;
    }

    #welcome2 {
        display: block;
        text-align: center;
        font-size: 170%;
    }

    .dropdown
    {
        font-size: 300%;
        margin-top: 10%;
        margin-left: -80%;
    }

    .breakNone
    {
        display: none;
    }
}



