body
{
    margin: 0px;
    padding: 0px;
    background: -webkit-linear-gradient(top, #088BB8, #088BB8,white);
    background-repeat: no-repeat;
}

#googleBtn:hover {
    cursor: pointer;
}


h1
{
    font-family: 'Permanent Marker', cursive;
    font-size: 600%;
    color: white;
}

h6
{
    font-family: 'Permanent Marker', cursive;
    font-size: 150%;
    color: black;
}

h5
{
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 120%;
}

a:hover h5
{
    color: #303030;
}

.btn
{
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    border-radius: 20px 20px 20px 20px;
    width: 25%;
}

.navbar
{
    display: none;
}

hr
{
    display: none;
}

@media screen and (max-width: 1280px)
{
    body
    {
        background-repeat: no-repeat;
    }

    h1
    {
        font-size: 400%;
    }

    .btn
    {
        width: 75%;
    }
}
