.messagesRow {
}

.receiver {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    box-shadow: -3px  -3px 15px rgba(128, 128, 128, 0.4),
    3px  3px 15px rgba(128, 128, 128, 0.4)
}

.message {
    height: 75%;
    width: 100%;
    padding-bottom: 5vh;
}

#unlock:hover {
    cursor: pointer;
}