tbody tr {
    height: 5vh;
}

tbody tr td {
    height: 100%;
}

tbody tr td:not(.tdDate), tbody i {
    cursor: pointer;
}

.tdFrom {
    width: 25%;
}

.tdDate {
    width: 15%;
}

.tdTitle {
    width: 60%;
}

tbody a {
    color: black;
    font-weight: bold;
}