.card {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:800px;
    min-height:500px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
    margin-top: 2%;
}

.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}

.card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}

.card .box .img {
    width:120px;
    height:120px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    border-radius:50%;
    overflow:hidden;
}

.card .box .img img {
    width:100%;
    height:100%;
}

.card .box h1 {
    margin-bottom: 3%;
}

.card .box p {
    color:#262626;
}
