label {
    margin:20px;
    font-size: 14px;
}

button {
    margin: 20px;
    font-size: 15px;
}

h2 {
    margin-top: 50px;
}



#sheet {
    margin-top:50px;
}

.form-check input {
    position: relative;
}

.noCalendar {
   text-align: center;
}

.btnCalendar {
    border-radius: 20px;
    width: 200px;
}