hr {
    border: 2px solid #cccccc;
    border-radius: 15px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#arrow {
    height: 30px;
    width: 30px;
}

.text-center5
{
    display: block;
    text-align: center;
}

.btn {
    border-radius: 20px;
    width: 150px;
}

@media screen and (max-width: 992px) /*fixation footer responsive*/ {
    .text-center5
    {
        margin-bottom: 30%;
        text-align: start;
    }

    span
    {
        display: none;
    }

    .fa-trash-alt
    {
        font-size: 230%;
        margin: 0;
    }

    .float-right
    {
        margin-top: -2%;
    }
}

