#buttonWidgetCalendar {
    width: 140px;
}

.col-4
{
    display: flex;
    margin-bottom: 5%;
    margin-top: 3%;
}

h2
{
    text-align: center;
    color: #2aaacf;
}

.btn {
    border-radius: 20px;
    width: 150px;
}

@media screen and (max-width: 992px)
{
    .row
    {
        flex-direction: column;
        width: 50%;
        margin: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .col-4
    {
        margin: auto;
        margin-bottom: 20%;
    }
}

