h2
{
    text-align: center;
    color: #2aaacf;
}

.widgetMatch
{
    width: 50vw;
    margin-top: 10vh;
    height: calc(90vh - 279px);
}

.btn
{
    border-radius: 20px;
    width: 150px;
}

.card
{
    float: left;
    margin-left: 3%;
}

@media screen and (max-width: 992px) {

    .card
    {
        margin-bottom: 5%;
        margin-top: -15%;
        margin-left: 0;
        width: 100%;
    }

    .btn
    {
        margin-bottom: 10%;
    }

    .widgetMatch
    {
        width: 100%;
    }
}
