.fa-arrow-circle-left {
    color: #2b98de;
}

.fa-arrow-circle-left:hover {
    text-decoration: none;
    color: #2b98de;
}

#buttonWidgetMatch {
    width: 140px;
}

h2
{
    text-align: center;
    color: #2aaacf;
}

.btn {
    border-radius: 20px;
    width: 150px;
}
