{% extends 'base.html.twig' %}

{% block title %}TimePool{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container-fluid my-4">
        <div class="row justify-content-around">
            <div class="col-md-2 breakNone">
                <a href="{{ path("dashboard") }}" class="fas fa-arrow-circle-left fa-3x mb-0"></a>
            </div>
            <div class="col-md-4 py-2">
                <h2 class="text-center">Calendar</h2>
            </div>
            <div class="col-md-2 breakNone"></div>
        </div>
    </div>
    <hr>

    {% include 'partials/weekCalendar.html.twig' %}

    <div class="container-fluid my-4">
        <div class="row justify-content-around">
            <div class="col-md-4 text-center my-2">
                <a href="{{ path("widget_share") }}" id="buttonWidgetCalendar"><button class="btn btn-primary" type="submit">Share</button></a>
            </div>
            <div class="col-md-4 text-center my-2">
                <a href="{{ path("widget_match") }}" id="buttonWidgetCalendar"><button class="btn btn-primary" type="submit">Find a Match</button></a>
            </div>
            <div class="col-md-4 text-center my-2">
                <a href="{{ path("widget_integrate") }}"><button class="btn btn-primary" type="submit">Integrate Calendar</button></a>
            </div>
            <div class="col-md-2 d-md-none">
                <a href="{{ path("event") }}" class="fas fa-arrow-circle-left d-block mx-auto text-center w-25 fa-3x d-md-none"></a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/assets/js/selectEvents.js" type="text/javascript"></script>
{% endblock %}
