{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/footerContents.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5 about">
        <h1 id="about"><strong>A propos de TimePool</strong></h1>
        <h2>Qu'est-ce que TimePool ?</h2>
        <p>TimePool est l’un des projets initiés par Thomas Parent, directeur technique de WebSurg (IRCAD France),
            et son équipe.<br>
            C’est une application dédiée à simplifier l’organisation de votre quotidien grâce à la synchronisation
            et au partage de vos différents calendriers. Il a été développé en partenariat avec la Wild Code School
            de Strasbourg.
        </p>
        <h2>Comment l'utiliser ?</h2>
        <p>TimePool a été crée pour vous aider à synchroniser vos calendriers entre eux et faciliter la
            planification d’évènements avec des personnes extérieures.
            La façon d’utiliser l’application va être différente selon ce que vous souhaitez en faire :
        </p>
        <h3>Créateur d'un évènement :</h3>
        <p>Si vous souhaitez créer un évènement privé ou public, vous devez obligatoirement vous créer un compte.
            De cette façon vous pourrez ajouter différents points/heures de rendez-vous, inviter des personnes à y
            participer, choisir un co-organisateur, etc. Vous êtes en mesure de consulter la liste des participants
            ayant répondu à votre invitation ou de modifier votre évènement à tout moment.</p>
        <h3>Invité ou personne recherchant un évènement public :</h3>
        <p>Si vous recevez une invitation à un évènement via TaskPlanner, pas besoin de vous créer un compte. Il
            suffit simplement de cliquer sur le lien d’invitation pour confirmer ou non votre présence à
            l’évènement. Si vous confirmez votre présence, vous serez alors prévenu par e-mail des modifications de
            l’évènement jusqu’au jour de sa réalisation…<br>
            Sans avoir besoin de vous créer un compte, vous pouvez également rechercher les évènements publics à
            proximité de chez vous ou selon une thématique.</p>

        <a href="https://www.facebook.com/IrcadFrance" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/IrcadFrance" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.youtube.com/user/ircadeits" target="_blank" class="fa fa-youtube"></a>
        <a href="https://www.linkedin.com/company/ircad" target="_blank" class="fa fa-linkedin"></a>
    </div>

{% endblock %}