{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/footerContents.css') }}">
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <div class="container mt-5 mb-5 contact">
        <h1 id="contact">Comment nous contacter ?</h1>
        <p>Vous avez des questions ? Un problème avec la création ou participation à un évènement ? Une idée
            d’amélioration ?<br>
            Contactez-nous via le formulaire ci-dessous, nous serons ravis de vous aider!
        </p>
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}
        <button type="submit" class="float-right btn btn-primary">Send your message</button>
        {{ form_end(form) }}
    </div>

{% endblock %}