{% extends 'base.html.twig' %}

{% block title %}Copyrights{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">
        <h1 id="mentions"><strong>Mentions Légales</strong></h1>
        <p>Ce site est édité par Thomas Parent.<br>
            Institut de recherche contre les cancers de l’appareil digestif<br>
            Identification TVA : FR 45 391 854 791 00012<br><br>
            L’utilisateur de ce site s’engage à se conformer aux présentes conditions d’utilisation.
        </p>
        <h3>Présentation du site</h3>
        <p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique,
            il est précisé aux utilisateurs du site de Timepool l’identité des différents intervenants dans le cadre
            de sa réalisation et de son suivi.</p>
        <h3>Siège social</h3>
        <p>IRCAD<br>
            Hôpitaux Universitaires<br>
            1, place de l’Hôpital<br>
            67091 Strasbourg Cedex, FRANCE<br>
            Tél. 33 (0)3 88 11 90 00
        </p>
        <h3>Raison sociale</h3>
        <p>Institut de recherche contre les cancers de l’appareil digestif<br>
            Association inscrite au tribunal d’instance de Strasbourg<br>
            Siren : 391 854 791<br>
            TVA : FR 45 391 854 791 00012<br>
            APE : 7211 Z
        </p>
        <h3>Réalisation</h3>
        <p>Wild Code School<br>
            32 rue du Bassin d’Austerlitz<br>
            67100 Strasbourg
        </p>
        <h3>Hébergeur</h3>
        <p>SDV Plurimédia<br>
            15 rue de la nuée bleue<br>
            67000 Strasbourg<br>
            www.sdv.fr
        </p>
        <h3>Propriété intellectuelle et contrefaçons</h3>
        <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments
            du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable.
            Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera
            considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des
            articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
    </div>

{% endblock %}