{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <h1 id="conditions"><strong>Conditions générales d'utilisation</strong></h1>
        <p>En vigueur au 01/01/2019</p>
        <h2><strong>Propriétés</strong></h2>
            <p>Le site <a href="https://www.ircad.fr/">timepool.ircad.com</a>, ainsi que ses sous-sites sont édités et
                dirigés par par
                Monsieur Thomas PARENT, IRCAD 1 Place de l hopital, 67000 Strasbourg,
                France.</p>
        <h2><strong>Mentions légales & conditions générales d'utilisation</strong></h2>
            <h3>Préambule</h3>
                <ul>
                    <li>Le Site désigne le site internet <a href="https://www.ircad.fr/">timepool.ircad.com</a> édité
                        par M. Parent.</li>
                    <li>Le terme Utilisateur désigne l'ensemble des internautes, inscrits ou non, qui naviguent sur
                        le site.</li>
                    <li>Le terme Membre désigne l'ensemble des internautes connectés sur le site
                        <a href="https://www.ircad.fr/">timepool.ircad.com</a></li>
                    <li>Le terme Société désigne la société du dirigeant du Site.</li>
                </ul>
            <h3>Article 1 : Champ d'application</h3>
                <p>Les présentes Conditions Générales d’Utilisation régissent les relations contractuelles entre tout
                    Utilisateur du Site.<br>
                    L’Utilisateur est invité à lire avec la plus grande attention le présent document et de renouveler sa
                    lecture à chaque fois qu’il consulte le Site.<br>
                    En effet, l’utilisation du Site constitue son acceptation des dites conditions générales d’utilisations.<br>
                    A cet égard, pour toute question concernant le Site, vous pouvez contacter le webmaster :
                    timepool@ircad.com<br><br>
                    Les conditions générales présentées ici peuvent être modifiées afin de prendre en compte des changements
                    liés à la législation française ou la modification de logiciels du site. Une consultation de ces
                    Conditions Générales d’Utilisation doit donc être réalisée régulièrement par l’Utilisateur.
                </p>
            <h3>Article 2 : Droit de propriété intellectuelle</h3>
                <p>La Société Editrice du site <a href="https://www.ircad.fr/">timepool.ircad.com</a> est le propriétaire
                    exclusif de tous les droits de propriété intellectuelle portant tant sur la structure que sur le
                    contenu du Site.<br>
                    Tous les éléments figurant sur le présent Site (images, bases de données, marques, illustrations, logos,
                    dessins, modèles, mise en page, documents téléchargeables) sont protégés en tant qu’œuvres de l’esprit
                    par la législation française et internationale sur le droit d’auteur et la propriété intellectuelle.
                    Sauf autorisation préalable et écrite, toute reproduction, représentation, adaptation, modification
                    partielle ou intégrale de tout élément composant le Site, par quelque moyen que ce soit, est interdite
                    sous peine de poursuite judiciaire.<br>
                    Toute utilisation dans un cadre professionnel ou commercial ou toute commercialisation de ce contenu
                    auprès de tiers est interdite, sauf accord exprès de la Société.
                </p>
            <h3>Article 3 : Responsabilité</h3>
                <p>Les services proposés sont conformes à la législation française en vigueur. Les photographies et les
                    textes reproduits et illustrant les produits et services présentés ne sont pas contractuels. En
                    conséquence, la responsabilité de la Société ne saurait être engagée en cas d’erreur dans l’une de ces
                    photographies ou l’un de ces textes.<br>
                    Les éventuels liens figurant dans le Site et renvoyant vers des sites externes sont fournis à titre
                    informatif. La Société ne saurait être tenue pour responsable du contenu de ces sites externes référencés.
                </p>
        <h2><strong>Informations nominatives et données personnelles</strong></h2>
        <p>La Société s’engage à respecter la réglementation en vigueur applicable au traitement de données à caractère
            personnel et, en particulier, le règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016
            applicable à compter du 25 mai 2018 (ci-après, « le règlement européen sur la protection des données » ou
                <a href="http://faq.deedi.fr/knowledgebase/reglement-general-sur-la-protection-des-donnees-rgpd/">RGPD</a>).</p>
            <h3>Article 1 : Données personnelles</h3>
                <p>Les données recueillies sont utilisées pour des statistiques de consultation anonymes.<br>
                    La Société traite uniquement les données à caractère personnel de ses clients.<br>
                    Ces données correspondent aux données fournies lors de l’inscription au Site : email, pseudo, nom,
                    prénom, photo, mot de passe (crypté non lisible la Société).<br>
                    Ces données font l’objet d’un traitement qui a pour finalité de permettre à l’Utilisateur :
                    <ul>
                        <li>de se créer un espace Membre,</li>
                        <li>de créer son calendrier de disponibilité timepool,</li>
                        <li>de partager ses disponibilités sur internet auprès de ses proches</li>
                        <li>de nous solliciter pour une assistance</li>
                        <li>d'être contacté par notre service.</li>
                    </ul>
                    Ces données personnelles peuvent être également utilisées par la Société en vue d’informations
        promotionnelles ou événementielles.
                </p>
            <h3>Droit d'accès et de rectification</h3>
                <p>Dans les mentions légales il faut également informer les utilisateurs sur les possibilités qu’ils ont
                    pour modifier ou demander la suppression de leurs données personnelles :
                    <ul>
                        <li>Conformément à la loi « Informatique et Libertés » du 6 janvier 1978 modifiée par la loi du 6
                            août 2004, l’utilisateur dispose du droit d’accès, de modification des informations qui le
                            concernent. Les clients de la Société disposent d’un
                            <strong>droit d’accès et de rectification</strong> aux données les concernant.</li>
                        <li>Pour cela il vous suffit d’accéder à votre espace client pour modifier vos informations
                            personnelles. Vous pouvez également nous demander la suppression complète de vos données en nous
                            contactant via le formulaire de contact du Site.</li>
                    </ul>
                </p>
            <h3>Périodes de conservation</h3>
                <p>Les données personnelles citées ci-dessus sont conservées aussi longtemps que nécessaire pour le
                    traitement des service. Ces données seront automatiquement supprimées après un an d’inactivité des
                    Membres à moins qu’il n’existe une obligation légale qui exige une conservation plus longue (comme
                    l’obligation de tenir des registres financiers pendant sept ans pour les données de paiement).</p>
            <h3>Responsabilité</h3>
                <p>La Société décline toute responsabilité en cas de transmission volontaire ou involontaire par
                    l’Utilisateur à un tiers des codes d’accès qu’il lui appartient de conserver en lieu sûr et dont
                    l’utilisation par un tiers pourrait entrainer la divulgation, l’altération ou la suppression des données
                    personnelles de l’Utilisateur.<br>
                    La Société s’engage à garantir la confidentialité des données à caractère personnel et veiller à ce que
                    les personnes autorisées à traiter les données à caractère personnel :
                    <ul>
                        <li>Les données de nos Utilisateurs sont stockés exclusivement en France ou dans l'Union Européenne,</li>
                        <li>Les serveurs que nous utilisons sont situés dans des data center certifiés par les normes
                            environnementales (ISO 14001), de qualité (ISO 9001) et de sécurité de l’information (ISO 27001),</li>
                        <li>L’infrastructure hardware et software sur laquelle les sites sont hébergés est conçue pour
                            garantir une sécurité absolue des données (antivirus, switchs, routeurs, serveurs et
                            firewalls redondants).</li>
                    </ul>
                </p>
            <h3>Article 2 : Cookies</h3>
                <p>Lorsque vous consultez les sites de la Société, des données de trafic et des fichiers de cookies sont
                    stockées sur votre ordinateur aux fins de procéder, en interne, à des analyses de fréquentation des
                    pages d’informations du Site afin d’en améliorer le contenu ainsi qu’à établir des données statistiques
                    (pages consultées, heures de consultation, etc…).<br>
                    Vous pouvez gérer les paramètres d’enregistrement de cookies à partir de vos navigateurs.
                </p>
</div>
{% endblock %}
