{% extends 'base.html.twig' %}

{% block title %}Find a relation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-md-2 breakNone">
                <a href="{{ path("dashboard") }}" class="fas fa-arrow-circle-left fa-3x mb-0"></a>
            </div>
            <div class="col-md-4 py-2">
                <h2 class="text-center">Find a relation</h2>
            </div>
            <div class="col-md-2 breakNone"></div>
        </div>
    </div>


    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <table id="table_id" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <td></td>
                <td>Family Name</td>
                <td>First Name</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for user in relation %}
                {% if user != app.user and user != userRepo.findOneByEmail('timepool.tp@gmail.com') %}
                    <tr class="h-100">
                        <td value="{{ user.id }}">
                            <div class="d-flex justify-content-around h-100 align-items-center">
                                <img class="rounded-circle picture" style="width: 64px;height: 64px;"
                                        {% if user.picture matches '{^(https)://}' %}
                                            src="{{ user.picture ?? null }}"
                                        {% else %}
                                            src="/uploads/{{ user.picture ?? null }}"
                                        {% endif %} alt="profil">
                            </div>
                        </td>
                        <td value="{{ user.id }}" class="familyName h-100"><div class="d-flex justify-content-around h-100 align-items-center">{{ user.familyName }}</div></td>
                        <td value="{{ user.id }}" class="givenName h-100"><div class="d-flex justify-content-around h-100 align-items-center">{{ user.givenName }}</div></td>
                        {% if user in app.user.relations%}
                            <td class="h-100">
                                <div class="d-flex justify-content-around h-100 align-items-center">
                                    <button class="btn btn-success">Already connected</button>
                                </div>
                            </td>
                        {% elseif repo.findOneByUserRelation(app.user.id, user.id) or repo.findOneByUserRelation(user.id, app.user.id) %}
                            <td>
                                <div class="d-flex justify-content-around h-100 align-items-center">
                                    <button class="btn btn-secondary">Invitation sent</button>
                                    <a href="{{ path('delete_invitation', {'id': user.id}) }}">
                                        <button class="btn btn-danger">X</button>
                                    </a>
                                </div>
                            </td>
                        {% else %}
                            <td class="addRelation">
                                <div class="d-flex justify-content-around h-100 align-items-center">
                                    <a href="{{ path('relation_message', {'id': user.id}) }}"><button class="btn btn-primary">Add to my relations</button></a>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );

        $('tbody td:not(.addRelation)').click(function () {
            let id = $(this).attr('value');
            window.location.href="/profile/"+id;
        });

        $('.picture, .familyName, .givenName, .email').hover(function () {
            $(this).toggleClass('bg-info');
            $(this).siblings().not('.addRelation').toggleClass('bg-info');
        })
    </script>
{% endblock %}