{% extends 'base.html.twig' %}

{% block title %}Message to {{ user.givenName }} {{ user.familyName }}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/assets/css/profile.css">{% endblock %}

{% block body %}

    <div class="row justify-content-around">
        <div class="col-md-2 breakNone">
            <a href="{{ path("relation") }}" class="fas fa-arrow-circle-left fa-3x mb-0"></a>
        </div>
        <div class="col-md-4 py-2">
            <h2 class="text-center"></h2>
        </div>
        <div class="col-md-2 breakNone"></div>
    </div>
    <div class="container">
        <div class="card">
            <div class="box">
                <p><i>Reminder: people added to your relations have access to your email address, can merge their
                        calendar with you and invite you to events.</i></p>
                <div class="img">
                    <img class="profilePicture"
                            {% if user.picture matches '{^(https)://}' %}
                                src="{{ user.picture ?? null }}"
                            {% else %}
                                src="/uploads/{{ user.picture ?? null }}"
                            {% endif %}
                         alt="profile picture">
                </div>
                <h4>You are about to add {{ user.givenName }} {{ user.familyName }} to your relations</h4>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Add to my relation</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}