{% extends 'base.html.twig' %}

{% block title %}Accept Relation{% endblock %}

{% block body %}

    <div class="container justify-content-center">
        <div class="row my-5 py-5">
            <div class="col text-center my-5 py-5">
                <h2 class="py-2">{{ user.givenName }} {{ user.familyName }} and you are now connected !</h2>
            </div>
        </div>
    </div>

{% endblock %}