{% extends 'base.html.twig' %}

{% block title %}Expired page{% endblock %}

{% block body %}

    <div class="container">
        <div class="card my-5">
            <div class="card-body text-center">
                <h3 class="card-text">The contact request has expired!</h3>
                <br>
                {% if not app.user %}
                    <p>Log in and search the "Find a relation" tab to connect with someone.</p>
                    <br>
                    <button class="btn btn-primary" onclick=window.location.href='{{ path('connect_google') }}'>Log in now !</button>
                {% else %}
                    <p>You can find a relation by clicking below: </p>
                    <br>
                    <button class="btn btn-primary" onclick=window.location.href='{{ path('relation') }}'>Find a relation !</button>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}