{% extends 'base.html.twig' %}

{% block title %}My relations{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/css/dataTables.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-md-2 breakNone">
                <a href="{{ path("dashboard") }}" class="fas fa-arrow-circle-left fa-3x mb-0"></a>
            </div>
            <div class="col-md-4 py-2">
                <h2 class="text-center">My relations</h2>
            </div>
            <div class="col-md-2 breakNone"></div>
        </div>
    </div>

    <div class="container">
        {% for key, message in app.flashes %}
            <div class="alert alert-{{ key }}">{{ message }}</div>
        {% endfor %}
        <table id="table_id" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <td></td>
                <td>Family Name</td>
                <td>First Name</td>
                <td>Email</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for user in relations %}
                <tr>
                    <td value="{{ user.id }}">
                        <div class="d-flex justify-content-around h-100 align-items-center">
                            <img class="rounded-circle" style="width: 64px;height: 64px;"
                                    {% if user.picture matches '{^(https)://}' %}
                                        src="{{ user.picture ?? null }}"
                                    {% else %}
                                        src="/uploads/{{ user.picture ?? null }}"
                                    {% endif %} alt="profil">
                        </div>
                    </td>
                    <td value="{{ user.id }}" class="familyName"><div class="d-flex justify-content-around h-100 align-items-center">{{ user.familyName }}</div></td>
                    <td value="{{ user.id }}" class="givenName"><div class="d-flex justify-content-around h-100 align-items-center">{{ user.givenName }}</div></td>
                    <td value="{{ user.id }}" class="email"><div class="d-flex justify-content-around h-100 align-items-center">{{ user.email }}</div></td>
                    <td class="status">
                        <div class="d-flex justify-content-around h-100 align-items-center">
                            <a href="{{ path('messages_send', {'id' : user.id}) }}"><button class="btn btn-info"><i class="fas fa-paper-plane ml-0 my-0 mr-2"></i>Send a message</button></a>
                            <a href="{{ path('relation_delete', {'id' : user.id}) }}"><button class="btn btn-danger"><i class="fas fa-trash-alt ml-0 my-0 mr-2"></i>Delete</button></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );

        $('tbody td:not(.status)').click(function () {
            let id = $(this).attr('value');
            window.location.href="/profile/"+id;
        });

        $('.picture, .familyName, .givenName, .email').hover(function () {
            $(this).toggleClass('bg-info');
            $(this).siblings().not('.status').toggleClass('bg-info');
        })
    </script>
{% endblock %}