{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/widgetCalendar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/share.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block body %}

    <h2 class="d-flex justify-content-center mt-5">Your sharing options</h2>
    <a href="{{ path("dashboard") }}" class="fas fa-arrow-circle-left fa-3x"></a>

    <div id="sheet" class="container p-4 mb-5 bg-white rounded">
        <div class="container-login100">

        {{ form_start(form) }}

        {{ form_row(form.email) }}

        {{ form_row(form.message) }}

            <div id="send" class="container-login100-form-btn p-5">
                <button class="btn btn-primary" type="submit">Send invitations</button>
            </div>
        {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
