<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/firstBaseStyle.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    {% block stylesheets %}{% endblock %}

</head>
<body>

{% block header %}
    {% if app.user %}
        {% set unreadMessages, totalMessages = 0, 0 %}
        {% for message in app.user.receivedMessages %}
            {% set totalMessages = totalMessages +1 %}
            {% if message.isRead == 0 %}
                {% set unreadMessages = unreadMessages +1 %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- Header -->
    <nav id="hdp" class="d-none {% if login is not defined %}d-lg-flex{% endif %} navbar desknavbar navbar-expand-lg navbar-dark" style="height: 20vh;">
        <div class="col-md-4">
            <a href="{{ path('dashboard') }}" id="welcome">TimePool</a>
        </div>
        {% if app.user %}
        <div class="col-md-4">
            <p class="d-flex justify-content-center" id="welcome2">Welcome {{app.user.givenName ?? null}} {{app.user.familyName ?? null}} !</p>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                    <img class="profilePicture rounded-circle" style="width: 64px;height: 64px;"
                            {% if app.user.picture matches '{^(https)://}' %}
                                src="{{ app.user.picture ?? null }}"
                            {% else %}
                                src="/uploads/{{ app.user.picture ?? null }}"
                            {% endif %}
                         alt="profile picture">
                </a>
                <div style="width: 12rem;" class="dropdown-menu dropdown-menu-right">
                    <a href="{{ path('messages') }}" class="dropdown-item"><span class="fas fa-envelope fa-lg mr-2 {% if unreadMessages > 0 %}animated infinite tada{% endif %}"></span> Messages <strong>({{ unreadMessages }})</strong> {{ totalMessages }}</a>
                    <a href="{{ path('event') }}" class="dropdown-item"><span class="fas fa-calendar-alt fa-lg mr-2"></span> My events</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('relation_show') }}" class="dropdown-item"><span class="fas fa-user-friends fa-lg mr-2"></span> My relations</a>
                    <a href="{{ path('relation') }}" class="dropdown-item"><span class="fas fa-user-plus fa-lg mr-2"></span> Find a relation</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('settings') }}" class="dropdown-item"><span class="fas fa-cog fa-lg fa-spin mr-2"></span> Settings</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('logout') }}" class="dropdown-item"><span class="fas fa-sign-out-alt fa-lg mr-2"></span> Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <nav class="d-lg-none navbar mobNavbar">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <a class="d-block" href="{{ path('dashboard') }}" id="welcome">TimePool</a>
                </div>
                <div class="col-12">
                    <p class="text-center welcomeUser">Welcome {{ app.user.fullname }} !</p>
                </div>
                <div class="col-12 text-center">
                    <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <img class="profilePicture rounded-circle" style="width: 64px;height: 64px;"
                                {% if app.user.picture matches '{^(https)://}' %}
                                    src="{{ app.user.picture ?? null }}"
                                {% else %}
                                    src="/uploads/{{ app.user.picture ?? null }}"
                                {% endif %}
                             alt="profile picture">
                    </button>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item tpNav-link">
                    <hr>
                    <a href="{{ path('messages') }}"><span class="fas fa-envelope fa-lg mr-2 {% if unreadMessages > 0 %}animated infinite tada{% endif %}"></span> Messages <strong>({{ unreadMessages }})</strong> {{ totalMessages }}</a>
                </li>
                <li class="nav-item tpNav-link">
                    <a href="{{ path('event') }}"><span class="fas fa-calendar-alt fa-lg mr-2"></span> My events</a>
                </li>
                <li class="nav-item tpNav-link">
                    <hr>
                    <a href="{{ path('relation_show') }}"><span class="fas fa-user-friends fa-lg mr-2"></span> My relations</a>
                </li>
                <li class="nav-item tpNav-link">
                    <a href="{{ path('relation') }}"><span class="fas fa-user-plus fa-lg mr-2"></span> Find a relation</a>
                </li>
                <li class="nav-item tpNav-link">
                    <hr>
                    <a href="{{ path('settings') }}"><span class="fas fa-cog fa-lg mr-2"></span> Settings</a>
                </li>
                <li class="nav-item tpNav-link">
                    <a href="{{ path('logout') }}"><span class="fas fa-sign-out-alt fa-lg mr-2"></span> Logout</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
{% endblock %}

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% block body %}{% endblock %}

{% block footer %}

    <!-- Footer -->
    <div class="container d-flex justify-content-between foot">
        <div class="row justify-content-center align-items-center w-100" >
            <div class="col-6 col-sm-3 text-center">
                <a href="{{ path('footer_index') }}">CGU</a>
            </div>
            <div class="col-6 col-sm-3 text-center">
                <a href="{{ path('footer_copyright') }}">Copyright</a>
            </div>
            <div class="col-6 col-sm-3 text-center">
                <a href="{{ path('footer_about') }}">About</a>
            </div>
            <div class="col-6 col-sm-3 text-center">
                <a href="{{ path('footer_contact') }}">Contact</a>
            </div>
        </div>
    </div>

{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
{% block javascripts %}{% endblock %}


</body>
</html>
