{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/relation.css">
{% endblock %}

{% block body %}

    <div class="card" style="width:400px">
        <img class="card-img-top my-3" src="{{ user.picture }}" alt="Card image">
        <div class="card-body">
            <h4 class="card-text text-center">{{ user.fullName }} canceled the event "{{ event.summary }}".</h4>
            <p>Unfortunately, the event "{{ event.summary }} that should have taken place in {{ event.location }}
                from {{ event.startTime|date("d/m/Y \\a\\t G:i") }} to {{ event.endTime|date("d/m/Y \\a\\t G:i") }}
            has been cancelled.<br>
            Sorry for the inconvenience.</p>
        </div>
    </div>

{% endblock %}