{% block body %}
    <h2 class="my-3">Hello {% if profile == 'creator' %}{{ event.creator.fullname }}{% else %}{{ attender }} !{% endif %}</h2>
    <p class="h4 my-3">
        {% if profile == 'creator' %}
            You've organized an event : {{ event.summary }}
        {% else %}
            {{ event.creator.fullname }} invites you to an event !
        {% endif %}
    </p>
    <div class="container-fluid px-0">
        <div class="bg-warning px-3 py-3 w-100 mx-auto" style="border-radius: 25px;">
            <p class="h3 font-weight-bold">{{ event.summary }}</p>
            <p class="h5">@ {{ event.location }}</p>
            <p class="my-3">{{ event.description }}</p>
            <p class="my-2"><strong>Start : </strong>{{ event.startTime|date('D d M Y \\a\\t h:i A') }}</p>
            <p class="my-2"><strong>End : </strong>{{ event.endTime|date('D d M Y \\a\\t h:i A') }}</p>
        </div>
        <a class="btn btn-primary btn-lg my-3" href="{{ path('event_show', {'id': event.id}) }}">View the event</a>
    </div>
{% endblock %}