{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/relation.css">
{% endblock %}

{% block body %}

    <div class="card" style="width:400px">
        <img class="card-img-top my-3" src="{{ user.picture }}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title text-center">{{ user.fullname }}</h4>
            <p class="card-text text-center">This user wants to add you as a relation.<br>
                "{{ content }}"</p>
            <div class="row">
                <div class="col-6">
                    <a href="{{ path('delete_invitation', {'id': user.id}) }}"><button class="btn btn-warning">Deny</button></a>
                </div>
                <div class="col-6">
                    <a href="{{ path('relation_accept', {'cle': adding.cle}) }}"><button class="btn btn-primary">Accept</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}