{% extends 'base.html.twig' %}

{% block title %}Send a message{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/assets/css/messages_send.css">{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center my-5">Send a message</h2>
        <div class="row messagesRow justify-content-around">
            <div class="col-md-3 receiver text-center d-flex flex-column justify-content-center align-items-center">
                <h3 class="text-center my-3">Sending to :</h3>
                <img class="profilePicture rounded-circle w-50 my-3"
                        {% if relation.picture matches '{^(https)://}' %}
                            src="{{ relation.picture ?? null }}"
                        {% else %}
                            src="/uploads/{{ relation.picture ?? null }}"
                        {% endif %}
                     alt="profile picture">
                <p class="h3 my-3">{{ relation.givenName }}</p>
                <p class="h3 my-3">{{ relation.familyName }}</p>
            </div>
            <div class="col-md-7 h-100">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                {{ form_row(form.send, {'attr': {'class': 'float-right btn-primary'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
