{% extends 'base.html.twig' %}

{% block title %}Messages sent{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/css/messages_index.css">
{% endblock %}

{% block body %}

<h2 class="d-flex justify-content-center mt-5">Your messages</h2>

<div class="row">
    <div class="col-6">
        <a href="{{ path("dashboard") }}" class="fas fa-arrow-circle-left fa-3x ml-5"></a>
    </div>
    <div class="col-2 offset-2 d-flex float-right">
        <a href="{{ path("relation_show") }}"><button class="btn btn-info"><i class="fas fa-paper-plane ml-0 my-0 mr-2"></i>Send a message</button></a>
    </div>
    <div class="col-2 d-flex float-left">
        <a href="{{ path("messages") }}"><button class="btn btn-primary"><i class="fas fa-inbox ml-0 my-0 mr-2"></i>Inbox</button></a>
    </div>
</div>


<div class="container">
    {% for key, message in app.flashes %}
        <div class="alert alert-{{ key }}">{{ message }}</div>
    {% endfor %}
    <table id="table_id" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <td class="tdFrom">To</td>
            <td class="tdTitle">Title</td>
            <td class="tdDate">Date</td>
        </tr>
        </thead>
        <tbody>
        {% for message in app.user.sentMessages %}
            <tr>
                <td value="{{ message.id }}" class="tdFrom tdFromH">
                    <div class="d-flex justify-content-around h-100 align-items-center">{{ message.receiver.fullname }}</div>
                </td>
                <td value="{{ message.id }}" class="tdTitle tdTitleH">
                    <div class="d-flex h-100 align-items-center">{{ message.title }}</div>
                </td>
                <td class="tdDate">
                    <div class="d-flex justify-content-around h-100 align-items-center">{% if message.createdAt < "now"|date|date_modify('midnight') %}{{ message.createdAt|date('d/m/Y') }}{% else %}{{ message.createdAt|date('h:i A') }}{% endif %}
                        <a href="{{ path('messages_sent_delete', {'id': message.id}) }}"><i class="fas fa-trash-alt ml-0 my-0 ml-auto"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable( {
                "order": [[ 2, "desc" ]]
            } );
        });

        $('tbody td:not(.tdDate)').click(function () {
            let id = $(this).attr('value');
            window.location.href="/messages/show_sent/"+id;
        });

        $('.tdFromH, .tdTitleH').hover(function () {
            $(this).toggleClass('bg-info');
            $(this).siblings().not('.tdDate').toggleClass('bg-info');
        })
    </script>
{% endblock %}