{% extends 'base.html.twig' %}

{% block title %}Your message{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/assets/css/messages_show.css">{% endblock %}

{% block body %}
    <a href="{{ path("messages_sent") }}" class="fas fa-arrow-circle-left fa-3x float-left mb-0 ml-5"></a><br>
    <div class="container">
    <h2 class="text-center my-5">Your message</h2>
    <div class="row messagesRow justify-content-around">
        <div class="col-md-3 receiver text-center d-flex flex-column justify-content-center align-items-center">
            <h3 class="text-center my-3">Message to</h3>
            <img class="profilePicture rounded-circle w-50 my-3"
                    {% if message.receiver.picture matches '{^(https)://}' %}
                        src="{{ message.receiver.picture ?? null }}"
                    {% else %}
                        src="/uploads/{{ message.receiver.picture ?? null }}"
                    {% endif %}
                 alt="profile picture">
            <p class="h3 my-3">{{ message.receiver.givenName }}</p>
            <p class="h3 my-3">{{ message.receiver.familyName }}</p>
        </div>
        <div class="col-md-7 message">
            <p><strong>{{ message.createdAt|date('l d/m/Y \\a\\t h:i A') }}</strong></p>
            <hr>
            <p><span class="badge badge-pill badge-secondary mr-2">Object : </span> <strong> {{ message.title }}</strong></p>
            <hr>
            <p>{{ message.content|raw }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-5 d-flex flex-column justify-content-center align-items-center">
            <a href="{{ path('messages_sent_delete', {'id': message.id}) }}"><button class="btn btn-danger"><i class="fas fa-trash-alt ml-0 my-0 mr-2"></i>Delete</button></a>
        </div>
    </div>

</div>
    {% endblock %}
