{% extends 'base.html.twig' %}

{% block title %}Your message{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/assets/css/messages_show.css">{% endblock %}

{% block body %}
    <a href="{{ path("messages") }}" class="fas fa-arrow-circle-left fa-3x float-left mb-0 ml-5"></a><br>
    <div class="container">
        <h2 class="text-center my-5">Your message</h2>
        <div class="row messagesRow justify-content-around">
            <div class="col-md-3 receiver text-center d-flex flex-column justify-content-center align-items-center">
                <h3 class="text-center my-3">Message from</h3>
                <img class="profilePicture rounded-circle w-50 my-3"
                        {% if message.sender != null %}
                        {% if message.sender.picture matches '{^(https)://}' %}
                            src="{{ message.sender.picture ?? null }}"
                        {% else %}
                            src="/uploads/{{ message.sender.picture ?? null }}"
                        {% endif %}
                     alt="profile picture">
                {% endif %}
                <p class="h3 my-3">{{ message.sender.fullname ?? 'TimePool' }}</p>
            </div>
            <div class="col-md-7 message pb-2">
                <p><strong>{{ message.createdAt|date('l d/m/Y \\a\\t h:i A') }}</strong></p>
                <hr>
                <p><span class="badge badge-pill badge-secondary mr-2">Object : </span> <strong> {{ message.title }}</strong></p>
                <hr>
                <p>
                    {{ message.content|raw }}
                </p>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 offset-4 d-flex flex-column justify-content-center align-items-center">
                <a href="{{ path('messages_delete', {'id': message.id}) }}"><button class="btn btn-danger"><i class="fas fa-trash-alt ml-0 my-0 mr-2"></i>Delete</button></a>
            </div>
            {% if message.sender != null %}
                <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                    <a href="{{ path('messages_reply', {'message' : message.id, 'relation' : message.sender.id}) }}"><button class="btn btn-info"><i class="fas fa-paper-plane ml-0 my-0 mr-2"></i>Reply</button></a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.accept').click(function (e) {
            e.preventDefault();
            let xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    $('#accepted').toggleClass('d-none');
                    $('.ajaxRemove').remove();
                    $('#user{{ app.user.id }}').toggleClass('badge-primary badge-success')
                }
            };
            xhttp.open("GET", this.querySelector('a').href, true);
            xhttp.send();
        });

        $('.decline').click(function (e) {
            e.preventDefault();
            let xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    $('#declined').toggleClass('d-none');
                    $('.ajaxRemove').remove();
                    $('#user{{ app.user.id }}').toggleClass('badge-primary badge-danger')
                }
            };
            xhttp.open("GET", this.querySelector('a').href, true);
            xhttp.send();
        })
    </script>

    <script src="/assets/js/launchEvent.js"></script>
{% endblock %}
