{% extends 'base.html.twig' %}

{% block title %}Dashboard!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dashboardCss.css') }}">{% endblock %}

{% block body %}

    <div class="container dashboard effects py-3">
        <div class="row align-items-center justify-content-center h-100">
        <div class="row justify-content-center mx-auto h-75">
            <div class="col-md-5 d-flex align-items-center dashCol">
                <div class=" mx-auto hvr-wobble-horizontal my-2 w-100">
                    <a href="{{ path('weekdget_calendar') }}"><button {#id="DivClignotante"#} class="btn btn-outline-primary">Display Calendar</button></a>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-center dashCol">
                <div class=" mx-auto hvr-wobble-horizontal my-2 w-100">
                    <a href="{{ path('widget_share') }}"><button class="btn btn-outline-primary">Sharing options</button></a>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-center dashCol">
                <div class=" mx-auto hvr-wobble-horizontal my-2 w-100">
                    <a href="{{ path('widget_match') }}"><button class="btn btn-outline-primary">Find a match</button></a>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-center dashCol">
                <div class=" mx-auto hvr-wobble-horizontal my-2 w-100">
                    <a href="{{ path('widget_integrate') }}"><button  class="btn btn-outline-primary">Integrate calendar</button></a>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}

{#
{% block javascripts %}

<script type="text/javascript">
    var clignotement = function(){
        if (document.getElementById('DivClignotante').style.visibility=='visible'){
            document.getElementById('DivClignotante').style.visibility='hidden';
            document.getElementById('DivClignotante').style.backgroundColor='#e1f1f6';
        }
        else{
            document.getElementById('DivClignotante').style.visibility='visible';
        }
    };
    // Pour arrêter le clignotement : clearInterval(periode);
    periode = setInterval(clignotement, 800);
</script>

{#autre test js avec opacity#}
{#
   <script type="text/javascript">
        var signe = -1;
        var clignotementFading = function(){
            var obj = document.getElementById('LblClignotant1');
            if (obj.style.opacity >= 1){
                signe = -0.2;
            }
            if (obj.style.opacity <= 0.04){
                signe = 1;
            }
            obj.style.opacity = (obj.style.opacity * 1) + (signe * 0.04);
        };

        // mise en place de l appel de la fonction toutes les 0.085 secondes
        // Pour arrêter le clignotement : clearInterval(periode);
        periode = setInterval(clignotementFading, 80 );
    </script>
     {% endblock %}#}



