{% extends 'base.html.twig' %}

{% block title %}Integrate your calendar{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/widget.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}
{% block body %}
    {% include 'partials/integratedCalendar.html.twig' %}
{% endblock %}
