{% extends 'base.html.twig' %}

{% block title %}Integrate your calendar{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/widget.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}
{% block body %}

    <h2 class="d-flex justify-content-center mt-5">Integrate your calendar on your website</h2>
    <a href="{{ path("dashboard") }}" class="fas fa-arrow-circle-left fa-3x"></a>

    <div class="container mb-5">

        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" name="submit" class="btn btn-primary d-block w-25 mx-auto my-4">Submit</button>
        {{ form_end(form) }}
        <hr>
        <h3 class="text-center">Preview :</h3>
        <div class="preview w-100 my-4">
            {% if display %}<iframe src="{{ path('integrate_preview') }}" class="w-100" style="height: 70vh;" frameborder="1"></iframe>{% endif %}
        </div>
        <a href="{{ path("dashboard") }}"><button type="button" class="btn btn-outline-primary">Cancel</button></a>
        <button type="button" id="getTheCode" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary float-right">Get the code</button>
    </div>

        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>To use this calendar on yout website, simply copy/paste the code below in your website html !</p>
                    <input id="iframeInput" type="text" class="form-control" value="">
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('#getTheCode').click(function () {
            let xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    let resp = JSON.parse(xhttp.response);
                    $('#iframeInput').val('<iframe src="http://127.0.0.1:8000/widget/integrate/view/'+resp.sand+'" frameborder="0"></iframe>')
                }
            };

            xhttp.open('GET', '/widget/integrate/generate', true);
            xhttp.send();
        });
    </script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% endblock %}