{% block body %}

    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:v="urn:schemas-microsoft-com:vml"
          xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
        <!--[if gte mso 9]><xml>
            <o:OfficeDocumentSettings>
                <o:AllowPNG/>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml><![endif]-->
        <!-- fix outlook zooming on 120 DPI windows devices -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- So that mobile will display zoomed in -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- enable media queries for windows phone 8 -->
        <meta name="format-detection" content="date=no"> <!-- disable auto date linking in iOS 7-9 -->
        <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS 7-9 -->
        <style type="text/css">
            /* Mobile-specific Styles */
            @media only screen and (max-width: 660px) {
                table[class=w0], td[class=w0] { width: 0 !important; }
                table[class=w15], td[class=w15], img[class=w15] { width:5px !important; }
                table[class=w30], td[class=w30], img[class=w30] { width:10px !important; }
                table[class=w255], td[class=w255], img[class=w255] { width:185px !important; }
                table[class=w325], td[class=w325], img[class=w325] { width:95px !important; }
                table[class=w580], td[class=w580], img[class=w580] { width:280px !important; }
                table[class=w640], td[class=w640], img[class=w640] { width:300px !important; }
                table[class*=hide], td[class*=hide], img[class*=hide], p[class*=hide], span[class*=hide] { display:none !important; }
                table[class=h0], td[class=h0] { height: 0 !important; }
                p[class=footer-content-left] { text-align: center !important; }
                #headline p { font-size: 30px !important; }
                .article-content { -webkit-text-size-adjust: 90% !important; -ms-text-size-adjust: 90% !important; }
                .footer-content-left {-webkit-text-size-adjust: 80% !important; -ms-text-size-adjust: 80% !important;}
                img { height: auto; line-height: 100%;}
            }
            /* Client-specific Styles */
            #outlook a { padding: 0; }	/* Force Outlook to provide a "view in browser" button. */
            body { width: 100% !important; min-width: 100%; }
            .gmail {margin: 0 auto; width: 670px; min-width: 670px; border-spacing: 0;} /* Force min width on Gmail web*/
            .gmail td {font-size: 0; line-height: 0; padding: 0;}
            /* Reset Styles */
            /* Add 100px so mobile switch bar doesn't cover street address. */
            body { background-color: white; margin: 0; padding: 0; }
            img { outline: none; text-decoration: none; display: block;}
            br, strong br, b br, em br, i br { line-height:100%; }
            h1, h2, h3, h4, h5, h6 { line-height: 100% !important; -webkit-font-smoothing: antialiased; }
            table td, table tr { border-collapse: collapse; }
            .yshortcuts, .yshortcuts a, .yshortcuts a:link,.yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span {
                color: white; text-decoration: none !important; border-bottom: none !important; background: none !important;
            }	/* Body text color for the New Yahoo.  This example sets the font of Yahoo's Shortcuts to black. */
            /* This most probably won't work in all email clients. Don't include code blocks in email. */
            code {
                white-space: normal;
                word-break: break-all;
            }
            #background-table { background-color: white; }
            /* Webkit Elements */
            #top-bar { border-radius:6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; -webkit-border-radius:6px 6px 0px 0px; -webkit-font-smoothing: antialiased; background-color: #f5f5f5; color: #8AB1BF; }
            #top-bar a { font-weight: bold; color: #8AB1BF; text-decoration: none;}
            #footer { border-radius:0px 0px 6px 6px; -moz-border-radius: 0px 0px 6px 6px; -webkit-border-radius:0px 0px 6px 6px; -webkit-font-smoothing: antialiased; }
            /* Fonts and Content */
            body, td { font-family: HelveticaNeue, sans-serif; }
            .footer-content-left, .footer-content-right { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
            /* Prevent Webkit and Windows Mobile platforms from changing default font sizes on header and footer. */
            .header-content { font-size: 12px; color: #8AB1BF; }
            .header-content a { font-weight: bold; color: #8AB1BF; text-decoration: none; }
            #headline p { color: #f9faf5; font-family: HelveticaNeue, sans-serif; font-size: 36px; text-align: center; margin-top:0px; margin-bottom:30px; }
            #headline p a { color: #f9faf5; text-decoration: none; }
            .article-title { font-size: 18px; line-height:24px; color: #526f92; font-weight:bold; margin-top:0px; margin-bottom:18px; font-family: HelveticaNeue, sans-serif; }
            .article-title a { color: #526f92; text-decoration: none; }
            .article-title.with-meta {margin-bottom: 0;}
            .article-content { font-size: 13px; line-height: 18px; color: black; margin-top: 0px; margin-bottom: 18px; font-family: HelveticaNeue, sans-serif; }
            .article-content a { color: #8AB1BF; font-weight:bold; text-decoration:none; }
            .article-content img { max-width: 100% }
            .article-content ol, .article-content ul { margin-top:0px; margin-bottom:18px; margin-left:19px; padding:0; }
            .article-content li { font-size: 13px; line-height: 18px; color: white; }
            .article-content li a { color: #8AB1BF; text-decoration:underline; }
            .article-content p {margin-bottom: 15px;}
        </style>
        <!--[if gte mso 9]>
        <style _tmplitem="947" >
            .article-content ol, .article-content ul {
                margin: 0 0 0 24px;
                padding: 0;
                list-style-position: inside;
            }
        </style>
        <![endif]--></head><body><table align="center" class="gmail hide"><tbody><tr><td>&nbsp;</td></tr></tbody></table>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table" style="table-layout:fixed" align="center">
        <tbody><tr>
            <td align="center" bgcolor="white">
                <table class="w640" style="margin:0 10px;" width="640" cellpadding="0" cellspacing="0" border="0">
                    <tbody><tr><td class="w640" width="640" height="20"></td></tr>

                    <tr>
                        <td class="w640" width="640">
                            <table id="top-bar" class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#8ab1bf">
                                <tbody><tr>
                                    <td class="w15" width="15"></td>
                                    <td class="w325" width="350" valign="middle" align="left">
                                        <table class="w325" width="350" cellpadding="0" cellspacing="0" border="0">
                                            <tbody><tr><td class="w325" width="350" height="8"></td></tr>
                                            </tbody></table>
                                        <table class="w325" width="350" cellpadding="0" cellspacing="0" border="0">
                                            <tbody><tr><td class="w325" width="350" height="8"></td></tr>
                                            </tbody></table>
                                    </td>
                                    <td class="w30" width="30"></td>
                                    <td class="w255" width="255" valign="middle" align="right">
                                        <table class="w255" width="255" cellpadding="0" cellspacing="0" border="0">
                                            <tbody><tr><td class="w255" width="255" height="8"></td></tr>
                                            </tbody></table>
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tbody><tr>



                                            </tr>
                                            </tbody></table>
                                        <table class="w255" width="255" cellpadding="0" cellspacing="0" border="0">
                                            <tbody><tr><td class="w255" width="255" height="8"></td></tr>
                                            </tbody></table>
                                    </td>
                                    <td class="w15" width="15"></td>
                                </tr>
                                </tbody></table>

                        </td>
                    </tr>
                    <tr>
                        <td id="header" class="w640" width="640" align="center" bgcolor="#8ab1bf">

                            <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                                <tbody><tr><td class="w30" width="30"></td><td class="w580" width="580" height="30"></td><td class="w30" width="30"></td></tr>
                                <tr>
                                    <td class="w30" width="30"></td>
                                    <td class="w580" width="580">
                                        <div align="center" id="headline">
                                            <p>
                                                <strong><a href="https://www.ircad.fr/"><singleline label="Title">TimePool</singleline></a></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="w30" width="30"></td>
                                </tr>
                                </tbody></table>

                        </td>
                    </tr>

                    <tr><td class="w640" width="640" height="30" bgcolor="#ffffff"></td></tr>
                    <tr id="simple-content-row"><td class="w640" width="640" bgcolor="#ffffff">
                            <table align="left" class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                                <tbody><tr>
                                    <td class="w30" width="30"></td>
                                    <td class="w580" width="580">
                                        <repeater>

                                            <layout label="Text only">
                                                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody><tr>
                                                        <td class="w580" width="580">
                                                            <p align="left" class="article-title"><singleline label="Title">Hello {{ relation.givenName }} {{ relation.familyName }}</singleline></p>
                                                            <div align="left" class="article-content">
                                                                <multiline label="Description">You have a new message on TimePool!</multiline><br><br>
                                                                <div align="left">
                                                                    <a href="http://127.0.0.1:8000"><button class="btn btn-primary">Go to TimePool</button></a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr><td class="w580" width="580" height="10"></td></tr>
                                                    </tbody></table>
                                            </layout>


                                        </repeater>
                                    </td>
                                    <td class="w30" width="30"></td>
                                </tr>
                                </tbody></table>
                        </td></tr>
                    <tr><td class="w640" width="640" height="15" bgcolor="#ffffff"></td></tr>

                    <tr>
                        <td class="w640" width="640">
                            <table id="footer" class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#8AB1BF">
                                <tbody><tr><td class="w30" width="30"></td><td class="w580 h0" width="360" height="30"></td><td class="w0" width="60"></td><td class="w0" width="160"></td><td class="w30" width="30"></td></tr>
                                <tr>
                                    <td class="w30" width="30"></td>
                                    <td class="w580" width="360" valign="top">
                                        <span class="hide"><p id="permission-reminder" align="left" class="footer-content-left"></p></span>

                                    </td>
                                    <td class="hide w0" width="60"></td>
                                    <td class="hide w0" width="160" valign="top">
                                        <p id="street-address" align="right" class="footer-content-right"></p>
                                    </td>
                                    <td class="w30" width="30"></td>
                                </tr>
                                <tr><td class="w30" width="30"></td><td class="w580 h0" width="360" height="15"></td><td class="w0" width="60"></td><td class="w0" width="160"></td><td class="w30" width="30"></td></tr>
                                </tbody></table>
                        </td>
                    </tr>
                    <tr><td class="w640" width="640" height="60"></td></tr>
                    </tbody></table>
            </td>
        </tr>
        </tbody></table></body></html>

{% endblock %}
